<ul class='menu'>
  <li class='item'>Huevos Rancheros<span>12</span></li>
  <li class='descriptor'>Two eggs sunny side up served over black beans, sweet corn, chorizo sausage, tostadas, homemade salsa and sour cream</li>
  <li class='item'>Smoked Trout Hash<span>13</span></li>
  <li class='descriptor'>With caramelized onions, roasted red peppers, applewood smoked bacon and hollandaise sauce.  Served with two eggs any style</li>
  <li class='item'>Croissant sandwich<span>10</span></li>
  <li class='descriptor'>Served with scrambled eggs, vegetables, pesto and cheddar cheese. Served with house potatoes</li>
  <li class='item'>Wild Mushroom Omelet<span>10</span></li>
  <li class='descriptor'>With herbed goat cheese, and spinach. Served with toast and house potatoes</li>
  <li class='item'>Shrimp, smoked mozzarella and fresh seasonal vegetable omelet<span>11</span></li>
  <li class='descriptor'>Served with toast and house potatoes</li>
  <li class='item'>Applewood smoked bacon, sharp cheddar and scallion omelet<span>10</span></li>
  <li class='descriptor'>Served with toast and house potatoes</li>
  <li class='item'>Eggs Benedict<span>10</span></li>
  <li class='descriptor'>Served with house potatoes</li>
  <li class='item'>Gravlax and poached eggs over English muffins<span>13</span></li>
  <li class='descriptor'>With wilted arugula, tomato and pesto hollandaise. Served with house potatoes</li>
  <li class='item'>Crab Cakes and poached eggs over English muffins<span>13</span></li>
  <li class='descriptor'>With roasted red peppers and old bay hollandaise.  Served with house Potatoes </li>
  <li class='item'>Grilled petit filet of beef with poached eggs<span>15</span></li>
  <li class='descriptor'>Served atop brioche with hollandaise with house potatoes</li>
  <li class='item'>Two eggs any style with house potatoes and toast<span>7</span></li>
  <li class='descriptor'></li>
  <li class='item'>Buttermilk pancakes<span>10</span></li>
  <li class='descriptor'>Served with fresh seasonal fruit and warm maple syrup </li>
  <li class='item'>Brioche French toast<span>10</span></li>
  <li class='descriptor'>Stuffed with raspberry preserves and cream cheese </li>
  <li class='item'>Granola, vanilla yogurt, and fresh fruit parfait<span>6</span></li>
  <li class='descriptor'></li>
  <li class='item'>Homemade muffins served with lemon curd<span>6</span></li>
  <li class='descriptor'></li>
</ul>
