<ul class='menu'>
  <li class='item'>Grilled beef tenderloin<span>30</span></li>
  <li class='descriptor'>Topped with braised beef short rib, sauteed spinach, thyme/goat cheese potato cakes, haricot verts and a red wine reduction sauce</li>
  <li class='item'>Seafood Pappardelle<span>26</span></li>
  <li class='descriptor'>Mussels, clams, shrimp, scallops and spinach tossed in a tomato-basil sauce, topped with fresh mozzarella and shaved parmesan</li>
  <li class='item'>Roasted Chicken Breast<span>20</span></li>
  <li class='descriptor'>With curried chicken spring roll, red smashed potatoes, and french beans, herbed pan sauce</li>
  <li class='item'>Grilled Pork Chop<span>24</span></li>
  <li class='descriptor'>Stuffed with chorizo sausage and chihuahua cheese, red smashed potatoes, cippolini onions, and a poblano broth</li>
  <li class='item'>Braised Beef Short Ribs<span>25</span></li>
  <li class='descriptor'>Served with bacon and cheddar mac ‘n cheese, sautéed spinach, onion rings, and a red wine reduction</li>
  <li class='item'>Grilled Hangar Steak and Fries<span>22</span></li>
  <li class='descriptor'>Served over sautéed spinach topped with blue cheese and natural jus</li>
  <li class='item'>Linguini with Clams<span>20</span></li>
  <li class='descriptor'>Littleneck clams tossed with grape tomatoes, garlic, and extra virgin olive oil, topped with shaved parmesan</li>
  <li class='item'>Orecchiette Pasta<span>19</span></li>
  <li class='descriptor'>Tossed with ground Italian sausage, rapini, and peas tossed in a tomato cream sauce with shaved parmesan</li>
  <li></li>
  <li class='descriptor'>* Vegetarian Options available upon request</li>
  <li class='item'>Sides</li>
  <li class='descriptor'>Red smashed potatoes</li>
  <li class='descriptor'>Onion rings </li>
  <li class='descriptor'>Bacon and cheddar mac ‘n cheese</li>
  <li class='descriptor'>Fries</li>
  <li class='descriptor'>Haricot verts</li>
  <li class='descriptor'>Sautéed spinach</li>
  <li class='descriptor'>Rapini</li>
  <li class='descriptor'></li>
  <li class='descriptor'>Private Party Room Available for up to 50 guests</li>
  <li class='descriptor'>Inquire with Management</li>
</ul>
