<ul class='menu'>
  <p>DRINKS</p>
  <li class='item'>Soup of the day</li>
  <li class='descriptor'></li>
  <li class='item'>Raw Fish selection of the day<span>Market Price</span></li>
  <li class='descriptor'></li>
  <li class='item'>Magnolia Crab Cakes<span>12</span></li>
  <li class='descriptor'>Served over sweet corn, pico de gallo and caper aioli</li>
  <li class='item'>Pulled Pork Ravioli<span>10</span></li>
  <li class='descriptor'>With wild mushrooms, peas and shaved manchego in a porcini sauce</li>
  <li class='item'>Antipasto Board<span>14</span></li>
  <li class='descriptor'>Assorted cured meat and cheese served with traditional garnish </li>
  <li class='item'>Grilled Shrimp<span>12</span></li>
  <li class='descriptor'>With haricot vert risotto, citrus vinaigrette and shaved parmesan</li>
  <li class='item'>Roasted Barbecue Pork Shanks<span>10</span></li>
  <li class='descriptor'>Served with a sriracha barbecue sauce, salsa verde, and topped with pico de gallo</li>
  <li class='item'>Prince Edward Island Mussels<span>11</span></li>
  <li class='descriptor'>Served roasted tomatoes and your choice of white wine cream broth or tomato basil sauce</li>
</ul>
<br />
<h3 class='centered'>Salads</h3>
<ul class='menu'>
  <li class='item'>The Wedge<span>9</span></li>
  <li class='descriptor'>Iceberg lettuce topped with grape tomatoes, hearts of palm, cucumbers, red onions, applewood smoked bacon and blue cheese dressing</li>
  <li class='item'>Mixed Green Salad<span>8</span></li>
  <li class='descriptor'>Wrapped in cucumber with grape tomatoes, oranges, grapefruit, apples, walnuts and cranberries in a citrus vinaigrette <br />Add shaved Parmesean Reggiano - 1.5</li>
  <li class='item'>Watermelon Salad<span>10</span></li>
  <li class='descriptor'>Baby arugula, prosciutto, pine nuts, goat cheese, balsamic glaze</li>
  <li class='item'>Marinated Jumbo Shrimp<span>12</span></li>
  <li class='descriptor'>Topped baby arugula, shaved fennel, red onions, roasted tomatoes, and haricot verts in a citrus vinaigrette</li>
  <li class='item'>Heirloom Tomatoes with Burrata Cheese<span>12</span></li>
  <li class='descriptor'>With rapini, pesto, extra virgin olive oil, and balsamic</li>
</ul>
